.container-list {
    background: #0079BF;
    display: flex;
    flex-grow: 1;
    padding: 20px;
    min-width: calc(100% - 40px);
    
    overflow-x: auto;
}

@media screen and (max-width: 768px) {
    .container-list {
        margin: 0;
        flex-direction: column;
        align-items: center;
        /* padding: 20px 40px; */
    }
}